html {
    font-size: 93.75%;
    font-weight: 400;
}

body{
    font-family: 'Open Sans', sans-serif;
    margin:0;
    -webkit-font-smoothing: antialiased;
}

figure{
    margin:0;
}

#header{
    background: rgba(0,0,0,0.5);
    display:flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding:1em 0;
    line-height: 4;
}

.header-container{
    max-width: 1200px;   
    margin:0 auto;
    display:inherit;
    flex:inherit;
    justify-content: inherit;
    align-items: inherit;
}

.menu{
    display:flex;
    
}

.menu ul{
    display: flex;
    list-style: none;
    margin:0;
    padding:0;
    
}

.menu ul li{
    }

.menu ul li a{
    
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding:0 1em;
    
  
    transition: all .2s linear;
}

.menu ul li a.active,
.menu ul li a:hover{
    color: #f98416;
}


#process-online{
    background-color: rgba(93,114,128,0.05);
}